h1 {
    margin-top:6em;
    text-align: center;
    font-family: 'Lato';
    font-size: 2em;
    font-weight: 700;
}

body {
    background-color: #cf3d3d;
    font-family: 'Lato', Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 0 auto;
    text-align: left;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 800;
    color: #a32727;
    background-color: #fff;
    height: 2.5em;
    width: 25em;
    padding: 0 1.5em;
    border: none;
    border-radius: 0.5em;
}

button {
    margin: 0 auto;
    text-align: center;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 800;
    color: #a32727;
    background-color: #fff;
    height: 2.5em;
    width: auto;
    padding: 0 1.5em;
    border: none;
    border-radius: 0.5em;
    box-shadow: 0px 5px #ddd;
}

button:hover {
    transform: translateY(1px);
    transition: 0.2s;
    box-shadow: 0px 4px #ddd;
    cursor: pointer;
}

button:active {
    transform: translateY(5px);
    transition: 0.2s;
    box-shadow: 0px 0px #ddd;
    cursor: pointer;
    background-color: #eee;
}